<% provide :title, t(".contact") %>

<h1><%= t ".contact" %></h1>
<p>
  <h1><%= t ".contact_the_ruby" %></h1>
  <a href="https://www.railstutorial.org/contact"><%= t ".contact_page" %></a>.
</p>
<%= link_to_unless I18n.locale == :en, "English", locale: :en %> |
<%= link_to_unless I18n.locale == :vi, "Việt Nam", locale: :vi %>

