<% provide :title, t(".title") %>

<h1><%= t ".sample_app" %></h1>
<p>
  <%= t ".home_page" %>
  <a href="https://www.railstutorial.org/"><%= t ".ruby_on_rails" %></a>
  <%= t ".sample_app" %>
</p>
<%= link_to_unless I18n.locale == :en, "English", locale: :en %> |
<%= link_to_unless I18n.locale == :vi, "Việt Nam", locale: :vi %>
